#top-bar {
  width: 100%;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#connected {
  text-align: center;
  line-height: 3;
  margin: 0 auto;
  padding-right: 4px;
}

#connected > svg {
  display: inline-block;
  vertical-align: text-bottom;
}

#top-bar > svg {
  width: 32px;
  height: 32px;
  line-height: 3;
  margin-top: 7px;
  margin-right: 7px;
}
